iframe {
    height: 50vh;
    width: max(50%, 75vw);
    justify-self: center;
    margin: auto;
    padding: auto;
}

img {
    display: block !important;
    justify-self: center;
    height: 75%;
    margin: auto;
    padding: 2em;

}

figcaption {
    padding-left: 2em;
}


.description-body {
    display: flex;
    flex-wrap: inherit;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    /* align-items: center; */
    /* padding: max(50vw, 50%); */
    /* width: max-content; */
    padding-left: max(10vw, 10%);
    padding-right: max(10vw, 10%);

}
