
body {
    color: white;
    background-color: #222831;
    font-family: 'Roboto Slab';
    padding: 1em;
    margin: auto; 
    max-width: 1000px;
    font-size: 16pt;
}

h1 {
    font-family: 'Roboto Slab';
    font-weight: bold;
    color: white;
    padding: 0px;
    margin: 0px;
}

h3 {
    font-weight: bold;
    margin-bottom: .5em;
    color: white;
}

a {
    font-family: 'Roboto Slab';
    color: #0092ca;
}

a:active {
    font-family: 'Roboto Slab';
    color: #00eeff
}
a:hover{
    font-family: 'Roboto Slab';
    color: #00eeff
}

a:visited{
    font-family: 'Roboto Slab';
    color: #f0afff
}
p {
    padding-top: 0;
    margin-top: 0;
}

code {
    background-color: #010101;
    font-family: 'Iosevka Web';
    border: 1px #0FE8F7 solid;
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-radius: 5px;
    color: #0FE8F7;
}

ul{
    margin: 0;
    padding-left: 0;
}

li 
{
   list-style-type: none; 

}


hr.dashed{
  /* border-radius: 5px; */
}


img {
  margin:auto; 
  max-width: 100%; 
  max-height: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px #7aaeff dotted;
  border-radius: 5px;
}




.video_container {
    position: relative;
    padding-bottom: calc(56.25% * 0.75);
    width: 75%;
    height: 0;
}

